body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/Kivotos.jpg");
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background: rgba(16, 0, 0, 0.413);
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: yellow;
    font-family: 'Times New Roman';
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #02060e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background: #00040b72;
    transform: scale(1.05);
}

#hasil {
    margin-top: 20px;
    font-size: 18px;
}

a{
    text-decoration:none;
    color: yellow;
}